<% unless locals.empty? %>
  <%= message %>
<% end %>

<!-- *** OPENING MESSAGE *** -->
<div class="row">
  <div class="col-sm-12">
    <h4>
      <% if @user == current_user %>
        Welcome, <%= @user.username %>, to your SightSeeDC Page
      <% else %>
        Welcome to <%= @user.username %>'s SightSeeDC Page
      <% end %>
    </h4>
  </div>
</div>

<!-- *** MAIN CONTENT *** -->

<% if @sights.empty? && @reviews.empty? %>
  
  <!-- MESSAGE, if no sights or reviews -->
  <div class="row">
    <div class="col-sm-6">
      No sights selected - or - reviews posted. Start your adventure now!<br></br>
      <a href="/lists/new"><input type="submit" value="Create List"></a><br>
    </div>
  </div>

<% else %>
  
  <div class="row">
    <!-- *** LEFT COLUMN *** -->
    <div class="col-sm-6">
      <% if !@sights.empty? %>
        <h4>
          <% if @user == current_user %>
            <p>Your Sights<p>
            <p>(click a sight for more info -or- <a href="/lists/<%= @user.slug %>/edit">here</a> to edit your list):</p>
          <% else %>
            <%= @user.username %>'s list of sights:
          <% end %>
        </h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <% @sights.each do |sight| %>
                <tr>
                  <td>
                    <a href="/sights/<%= sight.id %>"><%= sight.name %></a> - <%= sight.description %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br></br>
      <% else %>
        <h4>You have no sights selected. Click <a href="/lists/new">here</a> to create your list now!</h4><br>
      <% end %>
    </div> <!-- left col-sm-6 -->

    <!-- *** RIGHT COLUMN *** -->
    <div class="col-sm-6">
      <% if !@reviews.empty? %>
        
        <h4>
          <% if @user == current_user %>
            <p>Your Reviews</p>
            <p>(click a sight for more info -or- a review to see and edit):</p>
          <% else %>
            <%= @user.username %>'s reviews:
          <% end %>
        </h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <% @reviews.each do |review| %>
                <tr>
                  <td>
                    <a href="/sights/<%= review.sight.id %>"><%= review.sight.name %></a> - <a href="/reviews/<%= review.id %>">"<%= review.content %>"</a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <h5>Want to share more thoughts? Contribute another review now!</h5>
        <a href="/reviews/new"><input type="submit" value="Create Review"></a>
        <br></br>
      
      <% else %>
        
        <h4>You have no reviews posted. Click <a href="/reviews/new">here</a> to submit a review!</h4><br> 
      
      <% end %>
    </div> <!-- left col-sm-6 -->

  </div> <!-- row -->

<% end %>


